body {
	
	font-family: Lato;

	margin: 0;
}
body.main {
	color: white;
	background-color: #1a1a1a;
}

.hide-y-overflow {
    overflow-y:hidden;
}

header {
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
	width: 60%;
	margin: auto;
	margin-top: 20px;
}

h1 {
	text-align: center;	
}


a {
	text-decoration: none;
	color: white;
}
.laarco {
	font-size: 36px;
	width: 40%;
	display: block;
	margin: 140px auto;
	font-weight: 300;
}

.gone {
	display: none;
}


/*
@-webkit-keyframes machineAnim {
	from {
	-webkit-transform: translate(0px);
	}
	to {
	-webkit-transform: translate(-100px);
	}
}*/


/* Standard syntax */
@keyframes machineAnim {

	from {
		top: 2000px;
		
	}
	to {
		top: 0px;
	}
}


@media screen and (max-width: 1080px) and (orientation:portrait) {
	.laarco, #section1 {
		width: 80%;

	}

	.img400 {
		width: 100% !important;
	}
	.text {
		width: 100% !important;
	}

	h1 {
		font-size: 4em;
	}
}


.machine1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 2000px;
	display: none;
	background-color: white;
	color: #1a1a1a;

}
.machines {
	display: block;

    -webkit-animation-name: machineAnim; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: machineAnim;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.maintitle {
    -webkit-animation-name: maintitle-anim; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: maintitle-anim;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    overflow: hidden;

}

.center {
	margin: auto;
	display: block;	
}

/* Standard syntax */
@keyframes maintitle-anim	 {

	from {
		height: 100%;
		
	}
	to {
		height: 0%;
	}
}

#section1 img{
	margin: 40px;
	display: block;
	margin: 40px auto 40px auto; 

}

.text {
	width: 400px;
	margin: 40px auto 40px auto; 
	display: block;
}

.video {
	width: 800px;
	background-color: black;
	text-align: center;
	margin: 40px auto 40px auto; 
}

.img400 {
	width: 400px;
}

.smalltext {
	font-size: 0.6em;
	font-weight: 200;
}