body {
	
	font-family: Lato;

	margin: 0;
}

table, tr, td {
	border: 0;
	border-collapse: collapse;
	padding: 0;
}
body.main {
	color: white;
	background-color: #1a1a1a;
}

.hide-y-overflow {
    overflow-y:hidden;
}

header {
}

html, section, body {
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
	width: 60%;
	margin: auto;
	margin-top: 80px;
}

h1 {
	text-align: center;	
}


body.main a {
	font-weight: bold;
	color: #f1f1f1;

}
.laarco {
	font-size: 36px;
	width: 40%;
	display: block;
	margin: 0px auto 0px auto;
	font-weight: 300;
}

.gone {
	display: none;
}


/*
@-webkit-keyframes machineAnim {
	from {
	-webkit-transform: translate(0px);
	}
	to {
	-webkit-transform: translate(-100px);
	}
}*/


/* Standard syntax */
@keyframes machineAnim {

	from {
		top: 2000px;
		
	}
	to {
		top: 0px;
	}
}


@media screen and (max-width: 1080px) and (orientation:portrait) {

	body {
		padding: 0 36px;
		font-size: 12px;
	}

	.laarco {
		width: 100%;
		margin: 0;
	}
	.img400, .img800 {
		width: 100% !important;
	}

	.img800 img {
		width: 800px;
		margin: auto;
	}
	.text {
		width: 100% !important;
	}

	h1 {
		font-size: 4em;
	}

	.video {
		margin: 0px auto 0px auto !important; 
	}
}

.whitewp {
	align-items: stretch;
	width: 100%;
	height: 433px;
	background: url("nailsbg.png");
	background-repeat: repeat-x;
	background-color: #e5e5e5;
	color: #1a1a1a;
	display: block;

}

.white {
	height: 433px;

} 

.whitenails {
	
	width: 592px;
	height: 433px;
	background: url("nails.jpg")  no-repeat;
	background-position: right top;
}

.white figure, .white p {
	margin: auto;
}

figure img {
	max-width: 100%;
}

.machines {
	display: block;

    -webkit-animation-name: machineAnim; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: machineAnim;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.maintitle {
    -webkit-animation-name: maintitle-anim; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: maintitle-anim;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    overflow: hidden;

}

.center {
	margin: auto;
	display: block;
	width: 100%;
	max-width: 1080px;

}

/* Standard syntax */
@keyframes maintitle-anim	 {

	from {
		height: 100%;
		
	}
	to {
		height: 0%;
	}
}

figure{
	margin: 40px;
	display: block;
	margin: 40px auto 40px auto; 

}

.text {
	width: 400px;
	margin: 40px auto 40px auto; 
	display: block;
}

.video {
	width: 800px;
	background-color: black;
	text-align: center;
	margin: 40px auto 40px auto; 
}

.img400 {
	width: 400px;
}

.img800 {
	width: 800px;
}

figure {
	max-width: 100%;}

.smalltext {
	font-size: 0.8em;
	font-weight: 200;
}

.whitewp a {
	color: #545454;
}
.header {
	margin: 1px auto;
	width: 800px;
	text-align: right;
}

.header .item {
	margin: 5px;
	display: inline;
}

.header .item img {
	height: 24px;
	display: inline !important;
}

body.faq div#faqwrapper{
	width: 60%;
	margin: auto;
}
body.faq h2, body.faq h1, body.faq h3 {
	width: 100%
}

body.faq a {
	color: black;
}
div#faqwrapper img {
	max-width: 100%;
	margin: auto;
	display: block;
}
p.caption {
	font-size: 0.8em;
	text-align: center;
}

#faqwrapper .header {
	background-color: black;
}

.header .headerfaq {
	display: inline;
	float: left;
	margin-top: 4px;
	font-size: 0.8em;
	color: white;
	margin-left: 10px;
}
.headerfaq a {
	color: white !important;
	text-decoration: none;
}

.headerfaq a:visited {
	color: white;
}